/* Handle Hero */

.orbit-container {
  position: relative;
  height: 500px; }

.orbit-caption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(10, 10, 10, 0.9); }

.orbit-caption p {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  color: #fefefe;
  font-size: 48px;
  font-weight: 900; }

@media screen and (max-width: 39.9375em) {
  .orbit-caption p {
    font-size: 12px;
    font-weight: 400; } }

.orbit-bullets {
  display: none; }

  .fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

/*Top Bar*/

.top-bar-right {
    margin-top: 11px;
}

.column, .columns {
padding-top: 0.3rem;
padding-left: 0.3rem;
padding-right: 0.15rem;

}

.sd-box {
    padding-top: 2rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    border: 1px solid #cccccc ;
    box-sizing: border-box;
    height: auto;
    min-height: 120px;
    margin-bottom: 10px;
}

.sd-box.sub {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	background: #999;
	color: white;
	height: 9rem;
	min-height: 2rem;
  overflow: hidden;
  text-overflow: clip ellipsis;


/* 	height: 10rem !important; */
}

.sd-box.sub h5 {
	margin-top: 10px;
	line-height: 120%;
	font-family: sans-serif, 'Sukhumvit Set';
	padding-right: 1rem;
	font-size: 1.2rem;
}

.sd-box h5 {
  line-height: 1 rem;
  font-size: 1.5 rem;
  margin-top: 1rem;
}

.sd-box img {
    float: left;
    max-width: 100%;
    height: auto;
    margin-right: 2.5rem;
}


img.mobile-logo {
	margin-bottom:  10px;
	width: 100%; 

}

.fa-search {
	float: right
}

.fa-bars {
	float: left;
}

.footer {
	width: 100%;
	min-height: 4rem;
	background-color: #999;
}

/*Target iPad Pro*/

@media only screen 
and (min-device-width : 1025px) 
and (max-device-width : 1366px) { 
        .orbit-container {
    height: 740px; }

        .column, .columns {
    padding-top: 0.6rem;
        }

   
}

@media only screen (max-device-width : 414px) {
	.sd-box img {
		margin-right: 2rem;
	}
	
	.sd-box h5 {
		margin-top: 2rem;
	}
	
}
